{% extends 'Vacancies/base.html' %}
{% load static %}

{% block content %}
    
<header class="fullscreen-element no-pad centered-text">
    <div class="background-image-holder parallax-background overlay">
        <img class="background-image" alt="Background Image" src="{% static 'img/hero13.jpg' %}">
    </div>
    
    <div class="container align-vertical">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="text-white alt-font">Сайт пошуку роботи №1 в Україні</span>
                <h1 class="text-white">Якщо ви насправді не знаєте, якою повинна бути робота вашої мрії,знайти її буде складним завданням.
                    Щоб отримати роботу своєї мрії, вам потрібно розібратися в собі, власних якостях та вміннях, проаналізувати сильні та слабкі сторони і зосередитись на реалістичних цілях.</h1>
                <p class="lead text-white">Деякі з перелічених нижче вакансій допоможуть вам отримати омріяну вами роботу.</p>
                <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Знайти вакансію</a>
                <a href="#" class="btn btn-primary btn-filled">Добавити вакансію</a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</header>
{% endblock %}